	
<template>
   <div>
         <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title"> Company List</h4>
          
          <div class="row">
            <div class="col s12">
              <table id="page-length-option" class="display">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Subscribtion Status</th>
                    <th>Rating</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="company in companies" :key="company.id">
                    <td>{{company.name}}</td>
                    <td>{{company.address}}</td>
                    
                    <td v-if="company.status == '0'">Not Subscribed
                        <button class="btn mb-1 waves-effect waves-light  "  v-on:click = "subscribeToCompany(company.id)" >Subscribe
                    </button>
                    </td>
                     <td v-else-if = "company.status == '1'">Subscribed
                         <button v-on:click = "unsubscribeFromCompany(company.id)" class="btn mb-1 waves-effect waves-light orange " >UnSubscribe
                    </button>
                    </td>
                    <td v-else></td>
                    <td> 

                      <div v-if="company.rating_percentage == 0" class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="0%"></div>
                      <div v-else-if = "company.rating_percentage > 0 && company.rating_percentage <= 10 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="10%"></div>
                      <div v-else-if = "company.rating_percentage > 10 && company.rating_percentage <= 20 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="20%"></div>
                      <div v-else-if = "company.rating_percentage > 20 && company.rating_percentage <= 30 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="30%"></div>
                      <div v-else-if = "company.rating_percentage > 30 && company.rating_percentage <= 40 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="40%"></div>
                      <div v-else-if = "company.rating_percentage > 40 && company.rating_percentage <= 50 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="50%"></div>
                      <div v-else-if = "company.rating_percentage > 50 && company.rating_percentage <= 60 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="60%"></div>
                      <div v-else-if = "company.rating_percentage > 60 && company.rating_percentage <= 70 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="70%"></div>
                      <div v-else-if = "company.rating_percentage > 70 && company.rating_percentage <= 80 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="80%"></div>
                      <div v-else-if = "company.rating_percentage > 80 && company.rating_percentage <= 90 " class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="90%"></div>
                      <div v-else  class="num-rate" data-rateyo-read-only="true" data-rateyo-rating="100%"></div>
                      
                      </td>
                    <td>
                     <a :href="'/rider/' + company.id" class="btn mb-1 waves-effect waves-light "  >Visit Page
                    <i class="material-icons right">pageview</i>
                    </a >   
                    </td>
                  </tr>
                  
                 
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Subscribtion Status</th>
                    <th>Rating</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   </div>
</template>

<script>
    export default {
        data(){
        return {
        companies: null,
        }
        },
        methods: {
          subscribeToCompany(company_id){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/subscribe/' + company_id ).then((response) => {
                    
                      Fire.$emit('reload');
                     if(response.data.code == 200){
                      swal("Request Successfully","You Have Successfully Subscribed.", "success")
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                alert(err.response.statusText);

                }
                  }); 
          },
           unsubscribeFromCompany(company_id){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/unsubscribe/' + company_id ).then((response) => {
                    
                      Fire.$emit('reload');
                     if(response.data.code == 200){
                      swal("Request Successfully", "You Have Successfully Unsubscribed.", "success")
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                alert(err.response.statusText);

                }
                  }); 
          },
          
           getCompanies(){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getcompanies').then((response) => {
                     if(response.data.code == 200){
                         this.companies = response.data.companies;
                         
                     }else{
                    alert("Network Error");
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                alert(err.response.statusText);

                }
                  }); 
           },
           loadRating(){
               if (!localStorage.getItem("reload")) {
                /* set reload to true and then reload the page */
                localStorage.setItem("reload", "true");
                location.reload();
            }
            /* after reloading remove "reload" from localStorage */
            else {
                localStorage.removeItem("reload");
                // localStorage.clear(); // or clear it, instead
            } 
           }
        },

        mounted(){
          this.getCompanies();
         setTimeout(()=> {
            $("#page-length-option").DataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    autoWidth: false,
                    "order": [] 
                    });

            },3000);  
             Fire.$on('reload', () => {
             this.getCompanies();
            this.loadRating();
           
          }) ;
         this.loadRating();
        }
    }
</script>
