	
<template>
    <div  class="container demo" id="demo-content" >
       <div id="loader-wrapper">
			<div id="loader" ></div>
		</div>
       
    </div>
</template>

<script>
    export default {
        data(){
        return {
        
        }
        },
        methods: {
               
         attemptlogin(){
                   this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/attemplogin').then((response) => {
                    
                    }).catch(err => {
                    window.location.href = '/login';
 
 
                  });
        } 
        },

        mounted(){
           this.attemptlogin();
            console.log('hereeee 00')
             this.role = localStorage.getItem('role');
             this.status = localStorage.getItem('status');
             console.log(this.status)
             if(this.status == '0'){
               window.location.href = '/login';  
             }else{
                 console.log(this.role);
                if(this.role == 'User' ){
             window.location.href = '/userdashboard';
            }else if(this.role == 'admin'){
                 window.location.href = '/userdashboard';
            }else if(this.role == 'driver'){
               window.location.href = '/userdashboard';
            } else if(this.role == 'superadmin'){
                window.location.href = '/userdashboard';
            }  

             }
            
           
      
        }
    }
</script>
