	
<template>
    <div  class="container demo" id="demo-content" >
       <div id="loader-wrapper">
			<div id="loader" ></div>
		</div>
       
    </div>
</template>

<script>
    export default {
        data(){
        return {
        
        }
        },
        methods: {
           
        },

        mounted(){
                window.location.href = '/404';
          
        }
    }
</script>
