	
<template>
  <div> <link rel="stylesheet" type="text/css" href="/dash/css/pages/app-sidebar.min.css">
       <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
      <div class="sidebar-left sidebar-fixed">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="sidebar-details">
          <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">mail_outline</i> Mailbox</h5>
           
          <div class="row valign-wrapper mt-10 pt-2">
            <div class="col s3 media-image">
              <img src="images/user/2.jpg" alt="" class="circle z-depth-2 responsive-img">
              <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <p class="m-0 subtitle font-weight-700">{{user.name}}</p>
              <p class="m-0 text-muted">{{user.email}}</p>

            </div>
          </div>
        </div>
      </div>
      <div id="sidebar-list" class="sidebar-menu list-group position-relative">
        <div class="sidebar-list-padding app-sidebar sidenav" id="email-sidenav" style="overflow:scroll; height:600px;">
          <ul class="email-list display-grid">
            <li class="sidebar-title">Tickets</li>
            <div v-for="ticket in tickets" :key="ticket.id"  class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
              <a v-on:click.prevent = "viewTcket(ticket)">
                  <div class="padding-4">
                    
                     <div class="title-right">
                        <p class="mb-2 white-text">{{ticket.title}} <span class="float-right new badge">{{ticket.data.unread}}</span></p>
                    <span class="mail-time" style="color: orange">{{ticket.created_at}}</span>
                    
                  </div>
                     
               </div>
              </a>
             </div>
            
          </ul>
        </div>
      </div>
      <a href="#" data-target="email-sidenav" class="sidenav-trigger hide-on-large-only"><i
          class="material-icons">menu</i></a>
    </div>
  </div>
</div>
<!-- Sidebar Area Ends -->
<!-- Content Area Starts -->
<div class="app-email-content">
  <div class="content-area content-right">
    <div class="app-wrapper">
      
      <div class="card card-default scrollspy border-radius-6 fixed-width">
        <div class="card-content pt-0">
          <div class="row">
            <div class="col s12" >
              <!-- Email Header -->
              <div >

              
              <h4>Ticket Type: <span v-if ="ticket.ticket_type == 'general'">General</span> <span v-if ="ticket.ticket_type == 'company'">Company</span> <span v-if ="ticket.ticket_type == 'company'" class="float-right">Company: {{ticket.data.company.name}}</span></h4>
        <hr>
        
              <!-- Email Header Ends -->
              <hr>
              <!-- Email Content -->
              <div style="overflow:scroll; height:400px; " id="messages">
              <div v-for = "message in messages" :key="message.id" class="email-content">
                <hr>
                <div v-if="message.type == 'forward'" class="list-title-area">
                  <div class="user-media">
                   
                    <div class="list-title" style="color:green">
                      <span class="name">me</span>
                      <span class="to-person" style="color:orange">to Admin</span>
                    </div>
                  </div>
                  <div class="title-right">
                    <span class="mail-time" style="color: orange">{{message.created_at}}</span>
                    
                  </div>
                </div>
                <div v-if="message.type == 'backward'"  class="list-title-area">
                  <div class="user-media"  >
                   <span class="mail-time"  style="color: orange">{{message.created_at}}</span>
                    
                  </div>
                  <div class="title-right">
                    <div class="list-title" style="color:green">
                      <span class="name" >Admin</span>
                      <span class="to-person"  style="color:orange">to me</span>
                    </div>
                    
                  </div>
                </div>
                
                <div class="email-desc">
                  <p>{{message.message}}</p>
                 
                </div>
                <hr>
              </div>
           
              </div>
              </div>
              <!-- Email Content Ends -->
              <hr>
              <!-- Email Footer -->
              <div class="email-footer">
                <div class="footer-action">
                  <div class="attachment-list">
                  
                   
                  <div  v-if='message_available != null' class="footer-buttons">
                      <textarea name="" v-model="reply" id="" cols="50" rows="17"></textarea>
                      <br><hr><hr>
                    <a class="btn reply mb-1" id="reply" v-on:click = "sendReply()"><i class="material-icons left">reply</i><span>Reply</span></a>
                  </div>
                </div>
                 
            
              </div>
                <a class="btn reply-btn right" v-on:click = "openTicketModal()">Create A new Ticket</a>
              <!-- Email Footer Ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END RIGHT SIDEBAR NAV -->
          </div>
              <div id="supportticket" class="modal">
                  <div class="modal-content">
                    <h4>Create a New Ticket</h4>

                      <div class="row">
                        
                       <div class="input-field col s12">
                        <select v-model="id">
                          <option value="" disabled selected>Select Company</option>
                          <option  value="0">General</option>
                          <option v-for="company in sub_companies" :key= "company.id" :value="company.company_id">{{company.data.name}}</option>
                         
                        </select>
                        <label>Choose your Company</label>
                      </div>
                       <div class="input-field col s12">
                        <input v-model="title" id="first_name2" type="text" class="validate">
                        <label class="active" for="first_name2">Title</label>
                      </div>
                       <div class="input-field col s12">
                        <textarea v-model="message" id="textarea2" class="materialize-textarea"></textarea>
                        <label for="textarea2">Massage</label>
                      </div>
                      </div>
             
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <button href="#!" id="create" class="modal-action  waves-effect green waves-green btn-flat " v-on:click = "createTicket()">Create</button>
                  </div>
 </div>
  </div>
</template>


<script>
    export default {
        data(){
        return {
        tickets: [],
        title: '',
        message: '',
        id: '',
        type: '',
        company_id:'',
        messages: [],
        message_available: null,
        ticket: {},
        sub_companies: [],
        reply : '',
        user: {}
        }
        },
        methods: {
          sendReply(){
              $('#reply').attr('disabled','disabled');
            console.log(this.reply);
         if(this.reply == ''){
              swal({
                              title: 'Reply Feild Cant Be Empty',
                              icon: 'error'
                            })
         }else{
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('api/ticket/reply',{'ticket_id': this.ticket.id , 'message': this.reply }).then((response) => {
                  
                  
                     if(response.data.code == 200){
                         Fire.$emit('reload');
                          this.viewTcket(this.ticket);
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
         }
           $('#reply').removeAttr('disabled');
           
          },
          openTicketModal(){
            this.title = '';
            this.message = '';
            this.id = '';

               $('.modal').modal({
                dismissible: true,
                opacity: 0.1
            });
              $('#supportticket').modal('open');
          },
          updateScroll(){
            var elem = this.$el.querySelector("#messages");
        elem.scrollTop = elem.clientHeight + 800;
            },
          viewTcket(ticket){
            this.reply = '';
            this.ticket = ticket;
            this.message_available = null;
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('api/ticket/' +ticket.id).then((response) => {
                  
                  
                     if(response.data.code == 200){
                         Fire.$emit('reload');
                      this.messages = response.data.messages;
                      this.message_available = '1';
                     }else{
                        swal({
                              title: 'Provide all the data required',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  }); 
                  this.updateScroll();
          },
          createTicket(){
            
           $('#create').attr('disabled','disabled');
            console.log(this.title);
            console.log(this.id);
            console.log(this.message);
            if(this.title == '' || this.message == '' || this.id == ''){
                          swal({
                              title: 'Provide all the data required',
                              icon: 'error'
                            })
            }else{
              if(this.id == '0'){
                this.type = 'general';
                this.company_id = '0';
              }else{
                this.type = 'company';
                this.company_id = this.id;
              }
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('api/ticket/create',{'type': this.type , 'message': this.message , 'title': this.title ,'company_id' : this.company_id}).then((response) => {
                  
                  
                     if(response.data.code == 200){
                         Fire.$emit('reload');
                      $('#supportticket').modal('close');
                       swal("Successful", "Ticket Created Successfully.", "success")
                     }else{
                        swal({
                              title: 'Provide all the data required',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
            }
             $('#create').removeAttr('disabled');
          },
          getTickets(){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('api/ticket/user').then((response) => {
                  
                  
                     if(response.data.code == 200){
                      this.tickets = response.data.tickets;
                      this.user = response.data.user;
                      this.sub_companies = response.data.sub_companies;
                      console.log(this.tickets);
                      
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
          } 
        },

        mounted(){
            this.getTickets();
             Fire.$on('reload', () => {
             this.getTickets();
           
          }) 
        },
        updated(){           
        var elem = this.$el.querySelector("#messages");
        elem.scrollTop = elem.clientHeight + 800;
      },
    }
</script>
