<template>
      <div class="section">
               
                <!-- //section is here -->
                <div class="row vertical-modern-dashboard">
                    <div class="col s12 m4 l4">
                       <!-- Current Balance -->
                       <div class="card animate fadeLeft">
                          <div class="card-content">
                             <h4 class="mb-0 mt-0 display-flex justify-content-between">Availble Balance 
                             </h4>
                             <!-- <div class="current-balance-container">
                                <div id="current-balance-donut-chart" class="current-balance-shadow"></div>
                             </div> -->
                             <h3  style="color:green"> ₦  {{account.unlocked_balance}}</h3>
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <h4 >Total Balance</h4>
                                    <p style="color: green">₦ {{account.total_balance}}</p>
                                </div>
                                <div class="col s12 m2 l2"></div>
                                <div class="col  s12 m4 l4">
                                    <h4 >Locked Balance</h4>
                                    <p style="color: orange">₦ {{account.locked_balance}}</p>
                                </div>
                               
                                
                            </div>
                          </div>
                       </div>
                    </div>
                    <div class="col s12 m5 l5">
                        <!-- Current Balance -->
                        <div class="card animate fadeLeft">
                            <div class="row">
                              <br>
                                <div class="col s12 center-align">

                                  <img v-if="user.profile == null" class="responsive-img circle z-depth-5" width="120" src="/storage/profile/default.png"
                                    alt="">
                                    <img v-else class="responsive-img circle z-depth-5" width="120" :src="'/storage/profile/' + user.profile"
                                    alt="">
                                    
                                  <br>
                                  <div class="row mt-5">
                                    <div class="col s6">
                                      <h4 style="color: orange">Name</h4>
                                      <p>{{user.name}}</p>
                                    </div>
                                    <div class="col s6">
                                        <h4 style="color: orange">Email</h4>
                                        <p>{{user.email}}</p>
                                      </div>
                                  </div>
                                  <a  class="waves-effect waves-light btn modal-trigger mb-2 mr-1" v-on:click = "userProfile()"> Edit Profile</a>
                                </div>
                              </div>
                           
                              <hr>
                        </div>
                     </div>
                    <div class="col s12 m2 l2 xl3 float-right">
                        <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                           <div class="padding-4">
                              <div class="row">
                                 <div class="col s7 m7">
                                    <i class="material-icons background-round mt-5">add_shopping_cart</i>
                                    <p style="color:white">Rider Request</p>
                                  <button v-on:click = "getchanges()" class="waves-effect waves-light btn" id="myButton">
                                                Add New Option to Dropdown
                                              </button>

                                              <select id="myDropdown" class="materialSelect">
                                                <option value="Happy Floof">Happy Floof</option>
                                                <option value="Derpy Biscuit">Derpy Biscuit</option>
                                              </select>

              <p><a  class="waves-effect waves-light btn modal-trigger mb-2 mr-1" href="#modal1" v-on:click = "openTicketModal()">RequestDispatch</a></p>

                                 </div>
                                 <div class="col s5 m5 right-align">
                                    <p class="mb-2 white-text">Pending</p>
                                    
                                     <span class="badge badge pill orange float-right mr-10">{{active_request_count}}</span>
                                    <p class="mb-2 white-text">Completed</p>
                                    
                                     <span  class="badge badge pill orange float-right mr-10">{{inactive_request_count}}</span>

                                 </div>
                              </div>
                           </div>
                        </div>
                    
                     </div>
                 </div>
                 
  <!-- Page Length Options -->
     <div id="loader1" class="modal" data-backdrop="static" data-keyboard="false">
                
                 
                </div> 
     <div id="confirmrequest" class="modal">
                  <div class="modal-content">
                    <h4>Please Review and Rate the Logistic Company You Used and  Confirm Request</h4>
                   <div class="display-flex flex-wrap">
                    <div class="rate-onchange"></div>
                    <div class="chip ml-1" id="value" >0</div>
                  </div>
                  <label for="">Review</label>
                  <textarea name="" id="" v-model="review" cols="30" rows="10" ></textarea>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <a href="#!" class="modal-action modal-close waves-effect green waves-green btn-flat " v-on:click = "sendConfirmation()">Confirm</a>
                  </div>
 </div>  
  
    <div id="userprofile" class="modal">
                  <div class="modal-content">
                    <h4>User Profile</h4>
                   
                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">account_circle</i>
                              <input id="icon_prefix" v-model="user.name" type="text" class="validate">
                              <label for="icon_prefix"> Name</label>
                            </div>
                            <div class="input-field col s6">
                              <i class="material-icons prefix">email</i>
                              <input id="icon_telephone" v-model="user.email" type="email" readonly class="validate">
                              <label for="icon_telephone">Email</label>
                            </div>
                          </div>
                          
                          <div class="row">
                           
                              <div class="row">
                                <div class="input-field col s12">
                                  <i class="material-icons prefix">home</i>
                                  <textarea id="icon_prefix2" class="materialize-textarea" v-model="user.address"></textarea>
                                  <label for="icon_prefix2">Address</label>
                                </div>
                              </div>
                           
                          </div>
                          
                                <div class="row">
                                  <form class="col s12">
                                    <div class="row">
                                      <div class="input-field col s6">
                                       <div class="file-field input-field">
                                          <div class="btn">
                                            <span>profile</span>
                                            <input id="file" type="file"  accept="image/*" @change="imageOnChange"  >
                                          </div>
                                          <div class="file-path-wrapper">
                                            <input  class="file-path validate" type="text">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="input-field col s6">
                                        <i class="material-icons prefix">phone</i>
                                        <input v-model="user.contact" id="icon_telephone" type="tel" class="validate">
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="row">
                                <div class="col s12 center-align">
                                   <img  />
                                  <img  v-if="url"  class="responsive-img circle z-depth-5" width="120" :src="url"
                                    alt="">
                                  <br>
                                </div>
                                </div>
                        </form>
                      </div>
             
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <a href="#!" class="modal-action  waves-effect green waves-green btn-flat " v-on:click = "udpdateProfile()">Update</a>
                  </div>
 </div>            
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Rider Requests</h4>
                     
          <div class="row">
            <div class="col s12">
              <table id="page-length-option" class="display">
                <thead>
                  <tr>
                    <th>Request ID</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Status</th>
                    <th>Company</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                
                         <tr  v-for = "request in requests" :key="request.id">
                    <td>id_{{request.id}}</td>
                    <td>{{request.route.pickup}}</td>
                    <td>{{request.route.destination}}</td>
                    <td>{{request.process}}
                     <a  v-if = "request.status == '1'" v-on:click = "cancelRequest(request.id)"  class=" btn-floating waves-effect waves-light red lightrn-1">
                      <i class="material-icons">clear</i>
                    </a>
                    </td>
                    <td>{{request.company.name}}</td>
                    <td>
                    <a  v-if = "request.status != '8' && request.status != '9'"  v-on:click.prevent = "confirmRequest(request.id)"  class="waves-effect waves-light green  btn mb-1 mr-1">Confirm </a>
                    <a   v-on:click.prevent = "view_log(request)"  class="waves-effect waves-light   btn mb-1 mr-1">Log </a>
                       <!-- <paystack
                          :amount="amount"
                          :email="email"
                          :paystackkey="paystackkey"
                          :reference="reference"
                          :callback="callback"
                          :close="close"
                          :embed="false"
                      >
                        <i class="fas fa-money-bill-alt"></i>
                        Make Payment
                      </paystack> -->
                    </td>
                   
                  </tr>
                   
                 
              
                </tbody>
                <tfoot>
                  <tr>
                     <th>Request ID</th>
                    <th>Pick Up</th>
                    <th>Drop Off</th>
                    <th>Status</th>
                    <th>Company</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div id="requestmodal" class="modal">
                  <div class="modal-content">
                    <h4>Request A Rider</h4>
                    
                      <div class="row">
                        <div class="input-field col s12">
                        <select id="materialize-select"  v-model="company_id">
                         
                        </select>
                        <label>Select Company</label>
                      </div>
                       
  
 
                      </div>
             
                
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <a href="#!" class="modal-action  waves-effect green waves-green btn-flat " v-on:click = "udpdateProfile()">Update</a>
                  </div>
                  </div>

 </div>  -->
                    <div id="supportticket" class="modal">
                  <div class="modal-content">
                    <h4>Create a New Ticket</h4>

                     <md-field>
                      <label for="movie">Movie</label>
                      <md-select v-model="selectedMovies" name="movie" id="movie">
                        <md-option value="fight-club">Figh ewsdgews gE  t Club</md-option>
                        <md-option value="godfather">Godf EWFGWesd fewSDZEW sather</md-option>
                        <md-option value="godfather-ii">Godfath GRSGAWREASGWAR SGRAESer II</md-option>
                        <md-option value="godfather-iii">Godfarw sagERAGRWSDG RWSDther III</md-option>
                        <md-option value="godfellas">Godfeg awraegbearr gearsgverllas</md-option>
                        <md-option value="pulp-fiction">Pulgraw gseargavea graerzsgewas gp Fiction</md-option>
                        <md-option value="scarface">Scarfavfraebvear bvaers grewsce</md-option>
                      </md-select>
                    </md-field>
                
             
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <button href="#!" id="create" class="modal-action  waves-effect green waves-green btn-flat " >Create</button>
                  </div>
 </div>
            </div>
</template>

<script>
import paystack from 'vue-paystack';
    export default {
       components: {
        paystack
    },
   
          data(){
        return {
           paystackkey: "pk_test_c63c9bf562282596c0e9a046cc24ec2238af8346", //paystack public key
          email: "samueleke71@gmail.com",
          amount: 1000000,
         account : '',
         inactive_request_count : 0,
         active_request_count : 0,
         requests : null,
         user: "",
         counter: 0,
         isCancel: false,
         review: '',
         rating: 0,
         request_id : 0,
        url: null,
        iscustom : false,
        sub_companies: [],
        routes : [],
        companys: [], 
        company_id : '',
        selectedMovies: ''
        
        }
        },
        	ready: function() {
            $('#materialize-select').material_select()
          },                
       computed: {
      // reference(){
      //   let text = "";
      //   let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
 
      //   for( let i=0; i < 10; i++ )
      //     text += possible.charAt(Math.floor(Math.random() * possible.length));
 
      //   return text;
      // }
    },
    methods: {
      getchanges(){
         // add new value
         console.log('here now');
    var newValue = this.getNewDoggo();
    var $newOpt = $("<option>").attr("value",newValue).text(newValue)
    $("#myDropdown").append($newOpt);

    // fire custom event anytime you've updated select
    $("#myDropdown").trigger('contentChanged');
      },
        openTicketModal(){
  let  selectField = document.getElementById('selectfield');
  selectField.options.length = 0;
   console.log(selectField);
  for (let i=0; i<this.sub_companies.length; i++) {
    selectField.options[selectField.length] = new Option(this.sub_companies[i].data.name, this.sub_companies[i].company_id);
  }

  $('#selectfield').select();
            this.id = '';

               $('.modal').modal({
                dismissible:false,
                opacity: 0.1
            });
              $('#supportticket').modal('open');
          },
      selectRoute(){
        if(this.company_id != null){
           console.log(this.company_id)
        }else{
          console.log('no company selected')
        }
      },
      flipCustom(){
        if(this.iscustom){
          this.iscustom = false;
        }else{
          this.iscustom = true;
        }
      },
      callback: function(response){
        console.log(response)
      },
      close: function(){
          console.log("Payment closed")
      },
          imageOnChange(e){
            console.log("change");
              const file = e.target.files[0];
              this.url = URL.createObjectURL(file);

          },
          userProfile(){

             $('.modal').modal({
                dismissible: true,
                opacity: 0.1
            });
              $('#userprofile').modal('open');
          },
            requestmodal(){
              this.company_id = '';
              
           
             $('.modal').modal({
                dismissible: true,
                opacity: 0.1
            });
              $('#requestmodal').modal('open');
             

          },
          udpdateProfile(){
             if (($('#file').get(0).files.length === 0) ||  this.user.name == null || this.user.address == null || this.user.contact == null) {
               swal({
                  title: 'Please Provide all the require Data .',
                  icon: 'error'
                })
             }else{
             console.log('file  Exist');
               var fd = new FormData();
              var files = $('#file')[0].files[0];
              fd.append('profile',files);
              fd.append('name',this.user.name);
              fd.append('address',this.user.address);
              fd.append('contact',this.user.contact);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/user/edituser',fd).then((response) => {
                     if(response.data.code == 200){
                       swal("User Porfile Updated ", "The User Porfile  Was Updated Confirmed Successfully.", "success")
                     }else{
                       swal({
                        title: 'Invalid Dao=ta Provided.',
                        icon: 'error'
                      })
                     }
                     Fire.$emit('reload');
                      $('#userprofile').modal('close');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
             }
          },
           sendConfirmation(){
            this.rating = $('#value').text();
             $('#value').text()
             console.log($('#value').text());
             console.log(this.review);
             if(this.rating == 0 || this.review == ''){
                            
                swal({
                  title: 'Please Provide a Rating and Review.',
                  icon: 'error'
                })
             }else{
                  this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/request/confirm'  , {'rating': this.rating ,'review' : this.review , 'request_id' :  this.request_id}).then((response) => {
                   $('#loader1').modal('close');
                   Fire.$emit('reload');
                     if(response.data.code == 200){
                      
                        swal("Request Confirmed", "The Request Was Confirmed Successfully.", "success")
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
             }
           },
          confirmRequest(request_id){
            this.request_id = request_id;
             $('.modal').modal({
                dismissible: false,
                opacity: 0.1
            });
              $('#confirmrequest').modal('open');
          }, 
          cancelRequest(request_id){
            $('.modal').modal({
                dismissible: false,
                opacity: 0.1
            });
            
            swal({
              title: "Are you sure you want to cancel this request?",
              text: "",
              icon: 'warning',
              buttons: {
                cancel: true,
                delete: 'Yes, Cancel It'
              }
            }).then( (Willcancel) => {
                          if (Willcancel) {
                            $('#loader1').modal('open');
                            this.cancelRequestNow(request_id);
                          } else {
                            
                          }
              });
           
            
          },
          cancelRequestNow(request_id){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/request/cancel/' + request_id).then((response) => {
                   $('#loader1').modal('close');
                   Fire.$emit('reload');
                     if(response.data.code == 200){
                      
                        swal("Request Cancelled", "The Request Was Cancelled Successfully.", "success")
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
          },
           getUserDashboard(){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/user/home').then((response) => {
                     if(response.data.code == 200){
                         this.account = response.data.account;
                         this.active_request_count = response.data.active_request_count;
                         this.inactive_request_count = response.data.inactive_request_count;
                         this.requests = response.data.requests;
                         this.user = response.data.user;
                        console.log(this.requests[0].company);
                     }else{
                    console.log('error')
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                alert(err.response.statusText);

                }
                  }); 
                   this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/sub_companies/getdetails').then((response) => {
                  
                   
                     if(response.data.code == 200){
                      
                        this.sub_companies = response.data.sub_companies;
                     }else{
                        swal({
                              title: 'Error',
                              icon: 'error'
                            })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                console.log(err.response);
                if(err.response.status == '401'){
                   window.location.href = '/login';  
                }
                  //  window.location.href = '/signin';
                else{
                    $('#loader1').modal('close');
                alert(err.response.statusText);

                }
                  });
                    

             
           },
            getNewDoggo() {
              var adjs =  ['Floofy','Big','Cute','Cuddly','Lazy'];
              var nouns = ['Doggo','Floofer','Pupper','Fluffer', 'Nugget'];
              var newOptValue = adjs[Math.floor(Math.random() * adjs.length)] + " " + 
                                nouns[Math.floor(Math.random() * nouns.length)];
              return newOptValue;
            }
           
        },

        mounted(){
          this.getUserDashboard();
        //   this.loadacount();
         setTimeout(()=> {
            $("#page-length-option").DataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    autoWidth: false,
                    "order": [] 
                    });

            },2000); 
            Fire.$on('reload', () => {
             this.getUserDashboard();
           
          });
        
          // setup listener for custom event to re-initialize on change
      
        }
        
    }
</script>
